#map {
    height: 100%;
    width: 100%;
}

.marker {
    background-image: url('images/Flushy-Marker.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#geocoder {
        margin-bottom: 25px;
        position: relative;
        top: 10px;
        left: 600px;
        width: 600w;
    }

.mapboxgl-ctrl-geocoder {
    min-width: 100%;
    }

.gamebox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid;
    width: 800px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.losebtn {
}

.popupbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 500px;
    background: white;
    transition: opacity 0.5s;
    border: solid;
}
.popupbox.closed {
    opacity: 0;
    z-index: -1;
}

.popupbox.opened {
    opacity: 1;
    z-index: 2;
}
.btn-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-container {
    transition: opacity 0.5s;
    width: 800px;
    height: 450px;
}
.map-container.closed {
    opacity: 0;
}
.map-container.opened {
    opacity: 1;
}